.sample-container {
    display: inline-block;
    font-size: 3vw;
    padding: 5px;
    margin: 2vw;
    border: 2px solid gray;
    text-align: center;
    border-radius: 10px;
}

.sample-container > img {
    border-radius: 10px;
    width: 40vw;
    max-width: 400px;
    height: 40vh;
    margin: 0;
    padding: 0;
}

.seeDetails-container {
    font-size: 3vw;
    text-align: center;
    padding: 4vw;
}

.seeDetails-container > img {
    width: 90vw;
    transform: translate(0.9vw);
    box-shadow: 3vw 3vw 5px gray;
    border-radius: 10px;
}