.samplesPage-container {
    background-image: url("https://wooding.ir/content/upload/Post/5bd3e983b14148bf8c29b610cdba6350.jpg");
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    position:absolute;
    font-size: 2.4vw;
    text-shadow: rgba(15, 0, 0, 0.705) 5px 5px 5px;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    text-shadow: rgb(12, 1, 1) 5px 5px 5px;
}

.samplesPage-container > .samLink {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(245, 232, 232, 0.317);
    text-align: center;
    padding: 2vw;
    font-size: 4.5vw;
}

.samplesPage-container > .samLink:hover {
    box-shadow: 5px 5px 5px rgba(248, 245, 245, 0.594)
}

.samplesLink-container {
    background-color:rgba(255, 255, 255, 0.251);
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 40vw;
    max-height: 10vh;
    padding: 1vw;
    display: flex;
    margin: 0.5vw;
}

.samplesLink-container > .samLink {
    text-decoration: none;
    color: rgb(134, 88, 19);
    font-size: 3vh;
    font-weight: bold;
    border: 2px solid rgb(95, 59, 5);
    margin-left: 1vw;
    padding: 0.8vh;
    text-align: center;
    background-color: rgba(245, 242, 239, 0.379);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 10px;
    max-width: 8vw;
    font-size: 2.5vw;
} 

/* .samplesLink-container > .samplesLinkContainer {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    border-radius: 10px;
    background-color: red;
} */